{% extends 'base.html.twig' %}

{% block body %}
    <h1>Members list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Forename</th>
                <th>Lastname</th>
                <th>Type</th>
                <th>Ip</th>
                <th>Createddate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td><a href="{{ path('_show', { 'id': member.id }) }}">{{ member.id }}</a></td>
                <td>{{ member.forename }}</td>
                <td>{{ member.lastname }}</td>
                <td>{{ member.type }}</td>
                <td>{{ member.ip }}</td>
                <td>{% if member.createdDate %}{{ member.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('_show', { 'id': member.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
