{% extends 'base.html.twig' %}

{% block body %}
    <h1>Member</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ member.id }}</td>
            </tr>
            <tr>
                <th>Forename</th>
                <td>{{ member.forename }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ member.lastname }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ member.type }}</td>
            </tr>
            <tr>
                <th>Ip</th>
                <td>{{ member.ip }}</td>
            </tr>
            <tr>
                <th>Createddate</th>
                <td>{% if member.createdDate %}{{ member.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
